* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}
.test {
  background: #000000;
}
.bg-bl1 {
  background-color: #6bcbca;
}
.bg-r1 {
  background-color: #ff6867;
}
.bg-b1 {
  background-color: #0a0a0a;
}
.bg-d-l {
  background-color: #2b2b2b;
}
.bg-d-d {
  background-color: #212121;
}
.brd-md {
  border: 5px solid #212121;
}
.brd-b1 {
  border-color: #0a0a0a;
}
.brd-d-d {
  border-color: #212121;
}
.txt-sh-d-l {
  text-shadow: 0px 4px #2b2b2b;
}
.txt-bl1 {
  color: #6bcbca;
}
.texture-d {
  background-image: url('http://subtlepatterns.com/patterns/zwartevilt.png');
}
.bg-stickers {
  background-image: url('http://i5.minus.com/iCEr5orUtxPFA.png');
  background-size: 100%;
  overflow: hidden;
}
.bg-fade {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.8) 100%);
}
